.top-image {
    width: 100%; /* Full width */
    height: 100%; /* Set the desired height */
    display: block; /* Display as block */
    margin-bottom: 20px; /* Space between the image and the next element */
    object-fit: contain; /* Ensures the image covers the container without stretching */
}



/* Background for the entire body */
body {
    background-color: #e0e0e0; /* Light grey for a neutral background */
    font-family: Arial, sans-serif; /* Set a clean, readable font */
    color: #333; /* Dark grey text for good readability */
    margin: 0;
    padding: 0;
}

/* Header styles */
h1, h2 {
    background-color: #00274d; /* Deep blue to represent trust and stability */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
    text-align: center;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 20px; /* Space between headers and content */
}

/* Container for the plot */
#plot, #comparisonPlot, #sunburstChart, #fatalAccidentProbabilityChart, #crashesBySeverityChart,#map {
    background-color: #ffffff; /* White background for clarity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    margin: 20px auto;
    max-width: 90%; /* Limit the width to keep it responsive */
    min-height: 500px; /* Ensure a minimum height for the plot area */
    position: relative; /* Ensure the plot area is positioned correctly */
}

/* Highlight important elements */
.highlight {
    color: #ff0000; /* Red to signify importance or warnings */
}

/* Responsive design */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }
    #plot, #comparisonPlot, #sunburstChart, #fatalAccidentProbabilityChart, #crashesBySeverityChart,#map{
        padding: 10px;
        margin: 10px auto;
    }
}


